/* .example-form {
  width: 500px;
} */
    /* padding-right: 25px; */
.example-full-width {
  width: 100%;
}

.adjust-width {
    padding: 5px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: left;
  align-items: left;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}

.btn-primary, .btn-cancel {
      color: rgba(0, 0, 0, 0.73);
      background-color: #03a9f4;
}

.btn-cancel {
    background-color: #f44336;
}