<!--The content below is only a placeholder and can be replaced.-->

<div fxLayout="row" fxLayoutAlign="center" >
	<section fxFlexFill>
		<md-toolbar class="md-hue-2" color="warn">
			<div class="md-toolbar-tools">
				<h2 flex md-truncate>ADMIN - LIFELINE</h2>
			</div>
		</md-toolbar> 
		<md-sidenav-container>
			<md-sidenav #sidenav mode="side" opened="true" class="md-sidenav-left md-whiteframe-z4 sidenav-width"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-tall md-hue-3 md-toolbar-height" color="warn" [ngStyle]="{'background-image': 'url(' + image + ')'}">
					<span flex></span>
					<div layout="column" class="md-toolbar-tools-bottom inset">
						<!-- <user-avatar></user-avatar> -->
						<!-- <div class="profile-image" [ngStyle]="{ 'background-image': 'url(' + https://gurayyarar.github.io/AdminBSBMaterialDesign/images/user-img-background.jpg + ')'}"> -->
						<div flex="33" class="user-info-container"> 
							<!-- <span></span> -->
							<!-- <md-icon svgIcon="thumbs-up"></md-icon> -->
							<div md-card-avatar class="user-info-image"></div>							
							<div class="user-info-name">Saikrishna Padarthi</div>
							<div class="user-info-email">sai.krishna@isteer.in</div>
						</div> 
					</div>
				</md-toolbar>
				<div fxLayout="row" fxLayoutAlign="center" class="main-navigation-bg">
					<div layout="column" layout-align="center center">
						<h4>Main Navigation</h4>
					</div>
				</div> 
				<md-nav-list>
					<h3 md-subheader>Pages</h3>
					<md-list-item *ngFor="let link of links">
						<md-icon md-icon>home</md-icon>						
						<a routerLink="/{{link.url}}" routerLinkActive="active">{{ link.name }}</a>
						<button md-icon-button>
							<!-- <md-icon>info</md-icon> -->
						</button> 
					</md-list-item>
				</md-nav-list>
				<!-- <footer>
					<div layout="row" layout-align="center center">
						<h2>My Awesome Footer</h2>
					</div>
				</footer> -->
			</md-sidenav>
			<button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
				<md-icon>add</md-icon>
			</button>
			<div class="app-content" >
				<h1>Welcome {{title}}!</h1>
				<div fxLayout="row" fxLayoutAlign="space-around center" >
					<md-card fx-flex="25%" class="dashboard-card">
						<md-card-header>
							<div md-card-avatar class="example-header-image md-card-avatar-alignment"></div>
							<md-card-title class = "md-card-title-font"><strong> BLOOD BANKS </strong></md-card-title>
							<md-card-subtitle class = "md-card-subtitle-font">18</md-card-subtitle>
						</md-card-header>
					</md-card>
					<md-card fx-flex="25%" class="dashboard-card2">
						<md-card-header>
							<div md-card-avatar class="example-header-image md-card-avatar-alignment"></div>
							<md-card-title class = "md-card-title-font"><strong> BLOOD BANKS </strong></md-card-title>
							<md-card-subtitle class = "md-card-subtitle-font">18</md-card-subtitle>
						</md-card-header>
					</md-card>
					<md-card fx-flex="25%" class="dashboard-card3">
						<md-card-header>
							<div md-card-avatar class="example-header-image md-card-avatar-alignment"></div>
							<md-card-title class = "md-card-title-font"><strong> BLOOD BANKS </strong></md-card-title>
							<md-card-subtitle class = "md-card-subtitle-font">18</md-card-subtitle>
						</md-card-header>
					</md-card>
					<md-card fx-flex="25%" class="dashboard-card4">
						<md-card-header>
							<div md-card-avatar class="example-header-image md-card-avatar-alignment"></div>
							<md-card-title class = "md-card-title-font"><strong> BLOOD BANKS </strong></md-card-title>
							<md-card-subtitle class = "md-card-subtitle-font">18</md-card-subtitle>
						</md-card-header>
					</md-card>
				</div>

				<div fxLayout="row" fxLayoutAlign="start center" style="min-height:350px;padding:15px;">
					<router-outlet></router-outlet>
					<br/><br/><br/><br/><br/><br/>
				</div>
			</div>
		</md-sidenav-container>
	</section>	
</div> 
